{% extends 'template.back.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <p><a href="{{ path('app_admin_section_index') }}">Crud section</a>
        Pour ajouter / modifier / supprimer une section</p>
    <p><a href="{{ path('app_admin_post_index') }}">Crud post</a>
        Pour ajouter / modifier / supprimer une section</p>
{% endblock %}

