{% extends 'base.html.twig' %}

{% block content %}

    {% block nav %}
        <header class="header_area">
        <div class="main_menu">
        {% include 'admin/_menu.admin.html.twig' %}
        </div>
        </header>
    {% endblock %}

    {% block header %}

    {% endblock %}

    {% block main %}

    {% endblock %}





{% endblock %}